<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <p>Dashboard</p>
    <a href="/new-message">Create New Message</a>
    <% if (!isMember) { %>
    <a href="/membership">Become Member</a>
    <% } %>
    <% if (!isAdmin) { %>
      <a href="/admin">Admin Privileges</a>
      <% } %>

    <% messages.map((message, index) => { %>
      <div class="message <%= alignMessage[index] %>">
        <p><%= message.title %></p>
        <p><%= message.body %></p>
        <% if (isMember) { %>
          <p><%= message.author.username %></p>
          <p><%= message.timestamp %></p>
        <% } %>
      </div>
      <% if (isAdmin) { %>
      <form action="" method="post">
        <input name="messageId" type="text" value=<%= message.id %> hidden />
        <button type="submit">Delete Message</button>
      </form>
      <% } %>
      <hr>
    <% }) %>
    <% for (const message of messages) { %>
      <!-- <div class="message">
        <p><%= message.title %></p>
        <p><%= message.body %></p>
        <% if (isMember) { %>
          <p><%= message.author.username %></p>
          <p><%= message.timestamp %></p>
        <% } %>
      </div>
      <% if (isAdmin) { %>
      <form action="" method="post">
        <input name="messageId" type="text" value=<%= message.id %> hidden />
        <button type="submit">Delete Message</button>
      </form>
      <% } %>
      <hr> -->
    <% } %>
  </body>
</html>