<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <p>Dashboard</p>
    <a href="/new-message">Create New Message</a>
    <% if (!isMember) { %>
    <a href="/membership">Become Member</a>
    <% } %>
    <% if (!isAdmin) { %>
      <a href="/admin">Admin Privileges</a>
      <% } %>

    <div class="messages-container">
      <div class="messages">
        <% messages.map((message, index) => { %>
          <div class="message <%= alignMessage[index] %>">
            <p><b><%= message.title %></b></p>
            <p><%= message.body %></p>
            <% if (isMember) { %>
              <p><b><%= message.author.username %></b></p>
              <p><%= message.timestamp %></p>
            <% } %>
          <% if (isAdmin) { %>
            <form action="" method="post" class="delete-message">
              <input name="messageId" type="text" value=<%= message.id %> hidden />
              <button type="submit">DELETE</button>
            </form>
          <% } %>
          </div>
          <% }) %>
      </div>
    </div>
  </body>
</html>