<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>MembersOnly</h1>
    <p>Dashboard</p>
    <a href="/new-message">Create New Message</a>
    <% if (!isMember) { %>
    <a href="/membership">Become Member</a>
    <% } %>
    <% if (!isAdmin) { %>
      <a href="/admin">Admin Log In</a>
      <% } %>
    <% for (const message of messages) { %>
      <div class="message">
        <p><%= message.id %></p>
        <p><%= message.title %></p>
        <p><%= message.body %></p>
        <% if (isMember) { %>
          <p><%= message.author.username %></p>
          <p><%= message.timestamp %></p>
        <% } %>
      </div>
      <hr>
    <% } %>
  </body>
</html>